.nav-bar{
     background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(29, 27, 27, 0.5)),
    url("images/mike-lewis-headsmart-media-waAAaeC9hns-unsplash.jpg");
    background-size: cover;
    height: 37vh;
    width:100vw;
    text-align: center;
    font-size: 20px; 
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75px;
       
    }
}
.nav-bar a{
    margin-left: 2em;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
#one{
    background-color:rgb(65, 63, 63);
  border: solid 1 px;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
.first-picture{
  line-height: 1.8;
  p{
   margin-left: 800px;
   margin-top: 3%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
 }
 h2{
   margin-left: 800px;
   margin-top: -24%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
}
}
.second-picture{
  line-height: 1.8;
  p{
   margin-left: 800px;
   margin-top: 3%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
 }
 h2{
   margin-left: 800px;
   margin-top: -24%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
}

}
.third-picture{
line-height: 1.8;
  p{
   margin-left: 800px;
   margin-top: 3%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
 }
 h2{
   margin-left: 800px;
   margin-top: -24%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
}
}
.first-picture img{
 width: 350px;
 height: 450px;
 border-radius: 20px;
 margin-top: 80px;
 margin-left: 350px;
 
}
.second-picture img{
    width: 350px;
    height: 450px;
    border-radius: 20px;
    margin-top: 180px;
    margin-left: 350px;
}
.third-picture img{
  width: 350px;
  height: 450px;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 350px;
}
#one {
 background-color:rgb(65, 63, 63);
  border: solid 1 px;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  
}
#two{
  margin-top: 1%;
   margin-left: 800px;
  background-color:rgb(75, 156, 75);
  border: solid 1 px;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;  
}
#three{
  margin-top: 1%;
  margin-left: 800px;
    background-color:rgb(75, 156, 75);
  border: solid 1 px;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
#four{
  margin-top: 1%;
  margin-left: 800px;
   background-color:rgb(75, 156, 75);
  border: solid 1 px;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px; 
  margin-bottom: 5%; 
}
#five{
background-color:rgb(65, 63, 63);
  border: solid 1 px;
  border-color: whitesmoke;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
.work{
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(29, 27, 27, 0.5)),
     url("images/ignacio-aguilar-PK32VXa8LGM-unsplash.jpg");
    height: 350px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 50px;
    margin-top: 100px;

}
footer{
display: flex; 
  background-color: white;
  height: 40px; 
  background-color: whitesmoke;
}
.footer a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}


